
.header {
    background-image: url(../assets/hero_background.png);
    background-size: cover;
    display: grid;
    grid-template-rows: 6vh auto;
    grid-row-gap: 8vh;
    align-items: center;
    justify-content: center;
    padding-bottom: 10vh;
}

/* Default Styles - Mobile/Lower than 768px*/
.navbar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5%;
}
.navbar > a {
    text-decoration: none;
}

.navbar > a:first-of-type {
    font-family: 'Source Sans Pro', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 16px;
    padding-left: 2vh;

    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: #FFFFFF;
}

.navbar > img {
    justify-self: end;
    padding-right: 2vh;
}

.navbar > a:not(:first-of-type) {
    font-family: 'Source Sans Pro', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;

    letter-spacing: 0.2em;
    text-transform: uppercase;

    color: #FFFFFF;
    display: none;
}

.headline_container {
    width: 100%;
    height: 40%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#headline {
    width: 80%;
    font-family: 'Oswald', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 64px;
    text-align: center;

    color: #FFFFFF;
}

#headline_description {
    font-family: 'Source Sans Pro', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    width: 90%;

    text-align: center;

    color: rgba(255, 255, 255, 0.7);
}

/* Styles over or equal to 768px */

@media screen and (min-width: 768px) {
    .navbar {
        display: grid;
        grid-gap: 5%;
        grid-template-columns: 3fr repeat(4, 1fr) 3fr;
    }

    .navbar > a:first-of-type {
        padding-left: 2vh;
        font-size: 20px;
    }

    .navbar > a:not(:first-of-type) {
        display: inline;
    }

    .navbar > img {
        display: none;
    }


    #headline {
        width: 40%;
        font-family: 'Oswald', serif;
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 64px;
        text-align: center;

        color: #FFFFFF;
    }

    #headline_description {
        font-family: 'Source Sans Pro', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 32px;
        width: 50%;

        text-align: center;

        color: rgba(255, 255, 255, 0.7);
    }
}


/* Animations */

/* Logo spin*/
.headline_container > picture img {
    transition: 1s;
}

.headline_container > picture img:hover {
    transform: scaleX(-1) scale(1.5);
}

