/* Default values - below 768px */

.learn_more {
    background-size: cover;
    padding: 5vh 1vh;
    display: grid;
    place-items: center;
    background-image: url("../assets/learn_more_background.png");
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: darken;
    flex-direction: column;
    margin-top: 40px;
}

.learn_more_content_box {
    width: 90%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.play_button {
    position: relative;
    background-color: transparent;
    border-style: none;
    width: 230px;
    height: 230px;
}

.play_button > img {
}

.learn_more_title {
    font-family: 'Oswald', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 64px;
    text-align: center;

    color: #FFFFFF;
}

.learn_more_description {
    font-family: 'Source Sans Pro', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 32px;

    text-align: center;

    color: rgba(107, 117, 119, 0.85);
}

/* Styles over or equal to 768px */

@media screen and (min-width: 768px) {
    .learn_more {
        background-size: cover;
        padding: 5vh;
        display: grid;
        place-items: center;
        background-image: url("../assets/learn_more_background.png");
        background-color: rgba(0, 0, 0, 0.6);
        background-blend-mode: darken;
        flex-direction: column;
        margin-top: 40px;
    }

    .learn_more_content_box {
        width: 50%;
        height: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .play_button {
        background-color: transparent;
        border-style: none;
        width: 260px;
        height: 260px;
    }

    .learn_more_title {
        font-family: 'Oswald', serif;
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 64px;
        text-align: center;

        color: #FFFFFF;
    }

    .learn_more_description {
        font-family: 'Source Sans Pro', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 32px;

        text-align: center;

        color: #FFFFFF;
    }
}

 /*Animations */

.play_button > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s;
}

.play_button:hover img {
    opacity: 1;
    transform: scale(0.9);
}

.play_button > img:last-child {
    opacity: 0;
}

.play_button > img:last-child:hover {
    opacity: 1;
    transform: scale(0.9);
}