/* Default values - mobile/below 768px*/

.main_content {
    display: grid;
    grid-template-columns: auto;
    justify-items: left;
    background-color: #FFFFFF;
    margin: 2vh;
    row-gap: 1vh;
    padding-bottom: 30px;
}

.section_headline {
    font-family: 'Oswald', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 64px;

    width: auto;
    justify-content: left;
    text-align: left;

    color: #464547;
}

.section_second_headline {
    font-family: 'Source Sans Pro', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 32px;
    width: auto;
    text-align: left;
    color: #666666;
}

.section_description {
    font-family: 'Source Sans Pro', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    width: 85%;
    text-align: left;
    max-width: 1200px;

    color: #000000;
    display: grid;
    grid-row-gap: 2vh;
}

.read_more_button {
    background-image: url('../assets/read_more_button.svg');
    background-size: cover;
    background-color: transparent;
    width: 115px;
    height: 38px;
    border: none;
    padding: 0;

    transition: 0.8s;
}

.read_more_button:hover {
    transform: translateY(10px) rotate(10deg);
}

/* Screen from and above 768px */

@media screen and (min-width: 768px) {
    .main_content {
        justify-items: center;
        padding-bottom: 30px;
        display: grid;
        grid-template-columns: 1fr;
        margin: 2vh;
    }

    .section_headline {
        font-family: 'Oswald', serif;
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 64px;
        width: 60%;
        justify-content: center;
        text-align: center;

        color: #464547;
    }

    .section_second_headline {
        font-family: 'Source Sans Pro', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 32px;
        margin-top: 0;
        width: 40%;
        text-align: center;
        color: #666666;
    }

    .section_description {
        font-family: 'Source Sans Pro', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        width: 85%;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 30px;

        color: #000000;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 10%;
    }
}

